.left-title {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35vw;
    text-align: center;
    justify-content: center;
}
.project-container {
    position: fixed;
    left: 36vw;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    .proj-cards {
        overflow: scroll;
        .project {
            display: flex;
            margin: 20px;
            padding: 10px;
            width: 60vw;
        }
    }
}
